#create a new .env file in the current directory and add the following variables to it:

MDB_USERNAME="username" # enter your mongodb username here
MDB_PASSWORD="password" # enter your mongodb password here